{% extends 'portfolio/base.html' %}

{% block content %}
{% load static %}
<h1 style="text-align:center">My Links:</h1>

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3cm;
         
        border: 2px 2px 2px 2px;
        
      }
      </style>

<body>
<a href="https://github.com/faraz176">
    <img src="{% static 'portfolio/github-logo.png' %}", width="150" height="100" class="center ">
</a>
</body>


<body>
    <a href="https://www.kaggle.com/shuaibahmed176">
        <img src="{% static 'portfolio/better_kaggle.png' %}", width="180" height="100" class="center ">
    </a>
    </body>
{% endblock %}